morado = #762172
moradodark = #631c60
menta = #00beba
naranja = #fcb040
gris = #977e97

// Funciones para efectos y propiedades CSS3

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

transition()
	-webkit-transition:arguments ease-in;  
	-moz-transition:arguments ease-in;  
	-o-transition:arguments ease-in;  
	-ms-transition:arguments ease-in;  
	transition:arguments ease-in; 
	
box-sizing()
	-webkit-box-sizing: arguments;
	-moz-box-sizing: arguments;
	box-sizing: arguments; 
	
text-shadow()
	text-shadow: arguments;
	
box-shadow()
	-webkit-box-shadow: arguments;
	box-shadow: arguments;
